<h1>Menu</h1>
<div class="btn-group">
  <% @sections.each do |section| %>
    <%= link_to section.name, menu_path(section_name: section.name), class: "btn #{params[:section_name] == section.name ? 'btn-primary' : 'btn-secondary'}"%>
  <% end %>
</div>

<% if @current_section %>
  <table class="table">
    <thread>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
      </tr>
    </thread>
    <div class="tbody">
      <%if @current_section.food_items.count > 0 %>
        <% @current_section.food_items.each do |item|%>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency item.price %></td>
          <td><%= image_tag item.image_url_or_default%></td>
          <td><%= link_to "Add to other", new_order_path(food_item_id: item.id) %>
        </tr>
        <% end %>
      <% end %>
    </div>
  </table>
<% else %>
  <div class="alert alert-info">Please select a section</div>
<% end %>
